<div id="wrap">

  <div id="header">
    1_800_TWEET
  </div>


  <div class="info">
    Just tweet and get necessary info about important places around your location.

    <p>
      Tweet: <strong>@_inception911 MED </strong>
    </p>


    <p>
      You'll receive: <strong>http://awesomeninjas.com/abdsafad<br /></strong>
    </p>

    <p>
      Open above URL in any mobile / web browser. 
    </p>

    <p>
      Just two steps. It's simple, not simplistic.
    </p>

  </div>

</div>


