<div id="wrap">

  <div id="header">
    1_800_TWEET
  </div>


  <div class="info">
    <p>
        Just tweet and get information about important places around your location delivered to you through Twitter. For Geo-location
    enabled tweets, you don't need to specify address but else you need to specify that. For more info see below:
    </p>

    <p>
      Tweet: <strong>@1_800_TWEET MED </strong> from your GPS enabled Twitter client to get nearest medicine shops.
    </p>
    <p>Use shortcodes like below:</p>
      <ul>
          <li>COFFEE = Coffee Shops</li>
          <li>GAS = Gasoline/Petrol stations</li>
          <li>MOVIE = Movie/Theatre halls</li>
          <li>PO = Post Office</li>
          <li>FOOD = Restaurants/Eateries</li>
          <li>POLICE = Police Stations ( definitely for Help :-) )</li>
          <li>PUB = Pubs/Wine shops</li>
      </ul>
    
    <p>
      If you don't have GPS enabled phone/client. You can Tweet like <br />
      <strong>@1_800_TWEET COFFEE, Broadway, NY </strong>
    </p>

    <p>
      You'll receive an URL like this: <strong><a href="http://nko-awesome-ninjas.heroku.com/ab8olx7"> http://nko-awesome-ninjas.heroku.com/ab8olx7</a></strong>
    </p>

    <p>
      Open above URL in any mobile / web browser. 
    </p>

    <p>
      Just two steps. It's simple!
    </p>

    <p>
        <em>The accuracy of the results depends on GPS co-ordinates, so if you have enabled sharing 'location' in Twitter, then most likely you get correct results
            . We've tried our best to make it as accurate as possible. Thanks for trying out the app.</em>
    </p>

  </div>

</div>


