
<div id="map-canvas"></div>

<script type="text/javascript">
    var Anj = {};

    Anj.data = {
        command: '<%= object.command %>',
        search:  '<%= object.search_command %>',
        address: '<%= object.address || "" %>',
        latLng:  [<%= object.coords || '' %>]
    };
</script>
