[submodule "deps/node-oauth"]
	path = deps/node-oauth
	url = git://github.com/ciaranj/node-oauth.git
[submodule "deps/twitter-node"]
	path = deps/twitter-node
	url = git://github.com/technoweenie/twitter-node.git
[submodule "deps/connect"]
	path = deps/connect
	url = git://github.com/senchalabs/connect.git
