<h1 class="logo">
    Awesome Ninjas
</h1>

<a href="http://nodeknockout.com/teams/awesome_ninjas" id="vote" title="Help us Win NodeKo! Thank you">
    <img src="http://nodeknockout.com/images/voteko.png" alt="Help us Win NodeKo! Thank you">
</a>